
html {
    height: 100%;
    width: 100%;
}

p {    
    text-align: center;
    font-size: 30px;
    color:#40739e;
    transition: color 0.5s ease-in-out;
}

.btn {
    cursor: pointer;
}

.clicked {
    color: #7f8fa6;
}

